body {
  margin: 0;
  padding: 0;
  direction: rtl;
  background-color: rgb(249, 250, 251);
    font-family:'B Titr';
  
}


.container {
  display: grid;
  justify-content: center;
  place-items: center;
  height: 100vh;
}


.my-form .ant-input::placeholder {
  text-align: left;
}

.p-first {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 300;
}

.text {
  margin: 0;
 text-align: right;
  color: gray;
}

.my-form {
  width: 400px;
  height: 530px;
  padding: 20px;
  text-align: center;
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 3%;
  background-color: rgb(255, 255, 255);
}

img {
  width: 100px;
  height: auto;
}
.big-btn {
  height: 45px !important;
  font-size: 15px;
  border-radius: 8px;
}

.p-padding{
  padding-top: 12px;
}

.otp-inputs {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
}

.otp-box {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: 0.2s;
}

.otp-box:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0,123,255,0.5);
}

.color{
  color: gray;
}