body {
  margin: 0;
  padding: 0;
  direction: rtl;
  background-color: rgb(249, 250, 251);
    font-family:'B Titr';
  
}


.container {
  display: grid;
  justify-content: center;
  place-items: center;
  height: 100vh;
}


.my-form .ant-input::placeholder {
  text-align: left;
}

.p-first {
  padding-top: 20px;

  font-size: 23px;
  font-weight: 300;
}

.text {
  margin: 0;
 text-align: right;
  color: gray;
}

.my-form {
  width: 400px;
  height: 550px;
  padding: 20px;
  text-align: center;
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 3%;
  background-color: rgb(255, 255, 255);
}

img {
  width: 100px;
  height: auto;
}
.big-btn {
  height: 45px !important;
  font-size: 15px;
  border-radius: 8px;
}