/* Mrs Zarnegar */
body {
  margin: 0;
  padding: 0;
  direction: rtl;
  background-color: rgb(249, 250, 251);
  font-family: 'B Titr';
}

.container {
  display: grid;
  justify-content: center;
  place-items: center;
  height: 100vh;
}

.my-form .ant-input::placeholder {
  text-align: left;
}

.p-first {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 300;
}

.text {
  /* margin-top: 10px; */
  text-align: right;
  color: gray;

}

.form {
  width: 400px;
  height: auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 0%;
  text-align: center;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 3%;
  background-color: rgb(255, 255, 255);
}

.form .ant-form-item {
  margin-bottom: 14px;
}

.form .ant-form-item-label {
  padding-bottom: 2px;
}

.sales-form {
  width: 570px;
  /* ارتفاع ثابت را کاملاً حذف کنید */
  height: auto;
  /* یک حداقل ارتفاع کم بگذارید که فرم خیلی تخت نباشد */
  min-height: 200px;
  padding: 20px;
  margin-top: 200px;
  text-align: right;
  border: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  background-color: #ffffff;
  transition: all ease 5s;
  overflow: hidden;
}


.expanded-form {
  margin-Top: 20px;
  padding: 10px;
  border: 1px solid #e8e8e8;
  border-Radius: 8px;
  background: rgb(245, 245, 245)
}

.credit {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Credit-check {
  margin-top: 20px;
  height: 45px;
  background-color: rgb(75, 49, 101);
}

.new-Credit-check {
  margin-top: 20px;
  height: 45px;
  background-color: white;
  color: black;
}

.sales-container {
  display: grid;
  justify-content: center;
  place-items: center;
  height: 50vh;
}

.sales-header {
  text-align: right;
  font-size: 15px;
}

img {
  width: 100px;
  height: auto;
  padding-top: 10px;
}

.big-btn {
  height: 45px !important;
  font-size: 15px;
  border-radius: 8px;
}

.p-padding {
  padding-top: 12px;
}

.otp-inputs {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
  direction: ltr;
}

.otp-box {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: 0.2s;
}

.otp-box:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(127, 127, 130, 0.5);
}

.color {
  color: gray;
}

.hover-text:hover {
  color: rgb(22, 13, 13);
  transition: 2s;
}

.countdown-small {
  font-size: 16px;
  display: inline;
}

.bgd-color .ant-alert-description {
  color: rgb(160, 64, 14) !important;
}

.bgd-color .ant-alert-message {
  color: rgb(160, 64, 14);
}

.pages-img {
  display: block;
}

.header-style {
  background: #fff;
  padding: 0 24px;
  height: auto;
  line-height: normal;
  display: flex;
  align-Items: center;
}

.header-title-style {
  display: flex;
  align-Items: center;
  width: 100%;
  padding: 10px 0;
}

.input-color {
  background-color: rgb(243, 243, 245);
  text-align: left;
}

.wallet-row {
  margin: 50px;
  min-height: 200px;
  border: 1px rgb(229, 229, 229) solid;
}

.stat-box {
   border: 1px  rgb(229, 229, 229) solid;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  padding: 15px;
  gap: 12px;
  
}

.wallet-card1{
   background-color: rgb(254,246,199);
}


/* Mr Norouzi */
.minimalCards {
  text-align: center;
  border-radius: 12px;
}

.minimalCardIcons {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: #F5F2FF;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 0 auto 10px;
  color: #6B4EFF;

}

.ant-card-head {
  border-bottom: none !important;
}

.equalHeightCol {
  display: flex;
}

.equalHeightCard {
  width: 100%;
  height: 100%;
  border-radius: 20px !important;
}

.legalNoticeText {
  margin: 0;
  text-align: center;
  font-size: 13px;
  line-height: 2;
  color: #595959;
  white-space: normal;
  word-break: break-word;
}